# ===============================
# Data & results (DVC only)
# ===============================
data/*
!data/*.dvc

result/*
!result/*.dvc

# If RNASEQ contains only code, REMOVE this line
# RNASEQ/

# ===============================
# Snakemake
# ===============================
.snakemake/

# ===============================
# MLflow
# ===============================
mlflow.db

# ===============================
# Conda runtime
# ===============================
**/conda/
**/site-packages/

# ===============================
# Python
# ===============================
__pycache__/
*.pyc

# ===============================
# OS
# ===============================
Thumbs.db
.DS_Store
